@import "./varible.scss";
@import "./mask.scss";

$bg-z: 9999;

.dialog-body {
    overflow: hidden;
}

.dialog-mask {
    @extend .mask;
    z-index: $bg-z;
    opacity: 0;
    @include forwardOpacity(0.5s, 0.2s);
}

.dialog-container {
    position: relative;
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    top: 4.2rem;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.confirm-container {
    margin: auto;
    text-align: center;
    padding: 30px;
    > button {
        margin-right: 2.8rem;
        margin-left: 2.8rem;
    }
}

@-moz-keyframes dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
